.menu
  p.p#logo RCA
  a.s(href='#2') что?
  a.s(href='#3') ещё?
  a.s(href='#4') pic
  a.s(href='#5') маТь
  a.s(href='#6') theme
.block
  p.p.big.dr PRODUCT
  p.p.big.soft.addd design
  p.p.big.br.addd develop
.block#2(pr="t")
  .s product design
  s.s.br The Design Products programme is about creativity for purpose - educating students to be design-thinkers who address real world challenges through balancing high levels of creativity and technical capability with contextual insight.
  .s product develop
  .s.soft idea-gen 
.block#3(pr="any")
  .p Что ещё есть в школе?
.block#4
  img(src='http://www.rca.ac.uk/media/images/Aura_postcard_sheanayuCROP.focus-none.width-1000.jpg')
  img(src='http://www.rca.ac.uk/media/images/Aergo.width-1000.jpg')
.block#5(pr='wow')
  .s WOW [O.o]
.block#6
  .s Networked design
  .s The making of things
  .s Designing things better
  .s Human culture
  .s New notions & actions from new technology